body {
  padding-top: 5%;
}

footer {
  clear:both;
  margin: 1.51515151%;  
}

.work {
  display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0px 7px;

	padding: 7px;
	padding-bottom: 2px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}
.work img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
.work-details{
  width: 80%;
}

.work-details img{
  width: 100%;
}

.modal-footer{
  width: 80%;
}

@media all and (min-device-width : 320px) and (max-device-width : 568px) {  
    body {
      font-size: 30px;
      padding-top: 10%;
    }
    nav, a{
      font-size: 30px;
    }
    .badge {
      font-size: 20px; 
    }
    input[type="search"]
  	{
  	    font-size:20px;
  	    height: 40px;
  	}
}